
$white: #FFFFFF;

$color-primary-0: #2B4B6F;	// Main Primary color */
$color-primary-1: #002D5E;
$color-primary-2: #0761C6;
$color-primary-3: #1F2124;
$color-primary-4: #7E7F80;

$color-secondary-1-0: #2E4272;	// Main Secondary color (1) */
$color-secondary-1-1: #011C61;
$color-secondary-1-2: #0A40C9;
$color-secondary-1-3: #202125;
$color-secondary-1-4: #818283;

$color-secondary-2-0: #27556C;	// Main Secondary color (2) */
$color-secondary-2-1: #003E5B;
$color-secondary-2-2: #0485C3;
$color-secondary-2-3: #1E2123;
$color-secondary-2-4: #7A7B7C;
