html {
  display: flex;
  min-height: 100%;

  font-family: "Open Sans", serif;
}

body {
  position: relative;

  width: 100%;
  min-height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;

  outline: none;
}

.root {
  height: 100%;
  min-width: 320px;
}
